@{
    Layout = null;
}
<head>
    @Styles.Render("~/Content/Site.css")
    <title>Error</title>
</head>

<body>
    <h3 class="alert-danger"> An error has occurred while processing your request.</h3>
</body>

